{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
        Watercolor paint is a translucent art medium.
        Watercolor is basically a colored pigment in a water-soluble binder.
        The paint dissolves when you add water allowing the pigment to spread with a brush.
        </p>
        <img src="https://live.staticflickr.com/4039/4659480531_cbdf3e50bc_b.jpg" alt="Watercolor Lilies Painting">
      </div>
    </div>
{% endblock %}
